.setting-li-editing input::-webkit-outer-spin-button,
.setting-li-editing input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.1;
  transition: opacity 500ms;
}

